body{
  padding: 10px;
  background-color: black;
}

body h1{
  text-align: center;
  color: white;
  font-family: 'Revalia', cursive;
}

.main-container{
  display: flex;
  flex-direction: row;
}

.main-container h1, h3{
  text-align: center;
  font-family: 'Revalia', cursive;

  color: white;
}

.content-container{
  position:relative;
  width: 100%;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.start-screen{
  position: absolute;
  height: 100px;
  width: 90%;
  top: 40%;
  left: 8%;

  color: white;

  /*border: 1px solid white;*/
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
}

.content-container input[type="text"]{
  height: 30px;
  width: 200px;
  border: 5px solid #32CD32;
  border-style: double;
  font-family: 'Press Start 2P', cursive;
  color: #32CD32;
  background-color: black;
}

.contact{
  width: 100%;
}

.contact a.round{
  background-color: white;
  border-radius: 20px;
}

.info{
  width: 100%;
}

.info li{
  padding: 10px;
  font-family: 'Revalia', cursive;

  color: white;
}

.info li span{
  color: #32CD32;
}

.links-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*width: 130px;
  margin-left: 20%;*/
}

.link-items{
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.canvas{
  border: 5px solid #32CD32;
  border-style: double;
  width: 800px;
  margin-bottom: 20px;
}

/*.canvas:after{
  border:
}*/

.press-2p{
  style="font-family: 'Press Start 2P', cursive ;"
}

/*img.counter_missile{
  background-color: green;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}*/
